.pri {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 800px;
    background: rgb(0, 174, 255);
}

.seg {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 800px;
    background: #e5e5e5;
}

.terc {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 800px;    
    background: #e5e5e5;
}

ul{
    padding: 0;         
}

.pri li {
    padding: 5px;
}

.seg li {
    padding: 5px;
}

.terc li {
    padding: 5px;
}
.container {
    display: block;
    border-color: black;
}

.conteudo {
    display: flex;
}

fieldset {
    border-radius: 5px;   
    width: 800px;
}
li {
    list-style: none;
}
